/* src/index.css */
@import "tailwindcss";


@theme{
  --color-panel-bg: #D9D9D9;
  --color-panel-header: #B59481;
  --color-card-white: #ffffff;

  --radius-panel: 20px;
  --radius-inner: 30px;
  --radius-grafico: 10px;

  --spacing-panel-gap: 2rem;
}

@layer utilities {
  .font-label-auth{
    @apply text-3xl font-bold text-white mb-2;
  }

  .font-label-logs{
    @apply text-black font-bold text-xs uppercase tracking-widest flex-1 text-center;
  }


  .auth-card-dark {
    @apply bg-neutral-900/80 backdrop-blur-md border border-neutral-700 p-8 rounded-2xl shadow-2xl;
  }

  .bg-projeto-main {
    @apply w-full min-h-screen bg-gradient-to-tr from-neutral-500 to-neutral-950;
  }

  /* Aproveitando para ajustar seus inputs e deixá-os mais limpos no fundo escuro */
  .auth-card {
    @apply bg-white rounded-2xl shadow-xl border border-neutral-800/10;
  }

  /* Estilização para Webkit (Chrome, Safari, Edge, Opera) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;               /* Largura da barra vertical */
    height: 6px;              /* Altura da barra horizontal */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;  /* Fundo da trilha (invisível para ser clean) */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333338;      /* Cor da barra (zinc-700) */
    border-radius: 20px;      /* Arredondamento total */
    border: 2px solid transparent; /* Cria um respiro visual */
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b59481;      /* Cor de destaque quando passa o mouse (marrom do cabeçalho) */
  }

  /* Suporte para Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 transparent;
  }
  
}

/* Adicione isso para garantir o fundo escuro do mockup */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}


:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@layer base{
h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
  @apply text-[var(--text-h)];
}
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
